{% extends 'base_en.html' %}
{% block content %}
    <div class="summer">
	    <div class="container">
	    	<h2>SUMMER REST</h2>
	    </div>
    </div>
    <div class="price">
	    <div class="container">
             {% for item in category_list %}
                 {% for hotel in hotels %}
                     {% if hotel.category_id == item.id %}
	    	        <div class="price-content">
	    	        	<div class="titlebar">
	    	        		<h3>{{ item.title }}</h3>
	    	        		<p>{{ item.text }}</p>
	    	        	</div>
	    	        	    <div class="bases">
	    	        	    	<ul>
                                    {% for hotel in hotels %}
                                        {% if item.belongs_to_id == hotel.category_id %}
                                            <li>
	    		    	    	                <a href="/en{% url 'hotel:detail' hotel.slug%}">
	    		    	    	                <div class="img-wrapper">
	    		    	    	    	       	<img src="{{ hotel.img.url }}"  alt="">
	    		    	    	    	       </div>
	    		    	    	    	       	<p>{{ hotel.title_english }}</p>
	    		    	    	    	       	<h5>от<span>${{ hotel.min_cost }}</span></h5>
	    		    	    	    	       </a>
	    		    	    	            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                    </div>
                     {% endif %}
                     {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}