{% extends 'base.html' %}
{% block content %}
    <div class="summer">
	    <div class="container">
	    	<h2>ЛЕТНИЙ ОТДЫХ</h2>
	    </div>
    </div>
    <div class="price">
	<div class="container">
         {% for item in category_list %}
             {% if item.hotels %}
		        <div class="price-content">
		        	<div class="titlebar">
		        		<h3>{{ item.title }}</h3>
		        		<p>{{ item.text }}</p>
		        	</div>
		        	    <div class="bases">
		        	    	<ul>
                                {% for hotel in item.hotels %}
                                    {% if item.id == hotel.category.id %}
                                        <li>
			    	    	                <a href="{% url 'hotel:detail' hotel.slug%}">
			    	    	                <div class="img-wrapper">
			    	    	    	       	<img src="{{ hotel.img.url }}"  alt="">
			    	    	    	       </div>
			    	    	    	       	<p>{{ hotel.title }}</p>
			    	    	    	       	<h5>от<span>${{ hotel.min_cost }}</span></h5>
			    	    	    	       </a>
			    	    	            </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                </div>
             {% endif %}
        {% endfor %}
    </div>
    </div>
{% endblock %}