{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% if hotel.rest == 'w' %}
    <div class="winter">
	    <div class="container">
	    	<h2>ЗИМНИЙ ОТДЫХ</h2>
	    </div>
    </div>
    {% else %}
    <div class="summer">
	    <div class="container">
	    	<h2>ЛЕТНИЙ ОТДЫХ</h2>
	    </div>
    </div>
    {% endif %}

<div class="price winter-page">
	<div class="container">
		<div class="winter-page-container">
			<div class="price-content winter-content">
				<div class="titlebar">
					<h3>Общая информация</h3>
				</div>
				<div class="bases-bases-2">
					<h2>{{ hotel.title }}</h2>
                    {{ hotel.about|safe }}
                    {% if images %}
					    <ul>
                            {% for image in images %}
					    	    <li>
					    	    	<div class="img-wrapper">
                                        <a href="{{ image.image.url }}" data-lightbox="roadtrip">
                                            <img src="{{ image.image.url }}"  alt="">
                                        </a>
					    	    	</div>
					    	    </li>
                            {% endfor %}
					    </ul>
                    {% endif %}
				</div>
			</div>
            <div class="price-content winter-content">
				<div class="titlebar">
					<h3>Проживание</h3>
				</div>
					<div class="bases-bases-2">
						<h2>Размещение в отеле {{ hotel.title }}</h2>
						<p>Выберите и нажмите на интересующий Вас период проживания на базе. Стоимость откроется ниже.</p>
                        {% if tabs %}
                            {% for tab in tabs %}
						        <div class="tab-block">
						        	<a href="#" class="clickme">{{ tab.title }}</a>
                                    {% if tab.hostel %}
						        	    <div class="box">
						        	    	<h3>Гостиницы</h3>
						        	    	<table>
						        	    		<tr><th>Наименование услуги</th><th>Стоимость</th><th>Примечание</th></tr>
                                                {% for hull in hulls %}
                                                    {% if hull.count %}
                                                        <td>{{ hull.title }}</td>
                                                    {% endif %}
                                                    {% for hostel in tab.hostel.all %}
                                                        {% if hostel.hull.id == hull.id %}
                                                            <tr><td>{{ hostel.title }}</td><td>{{ hostel.cost }}</td><td>{{ hostel.note }}</td></tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
						        	    	</table>
						        	    </div>
                                    {% endif %}
						        </div>
                            {% endfor %}
                        {% endif %}

				</div>
			</div>
            <div class="price-content winter-content">
				<div class="bases-bases-2">
                    <a class="red" id="trigger-modal" href="#"><p>Забронировать</p></a>
					 <a class="blue" href="#"><p>Цены на доп.услуги</p></a>
					 </div>
			</div>
        
			<div class="price-content winter-content">
				<div class="titlebar">
					<h3>Местоположение</h3>
				</div>
				<div class="bases-bases-2">
					 <div id="googleMap" style="width:760px;height:480px;"></div>

					 </div>
			</div>

		</div>
		<div class="sidebar">
            {% if hotel.related %}
			    <h3>Ближайшие отели</h3>
			    <ul>
                    {% for related in hotel.related.all %}
			    	    <li>
                            <a href="{%  url 'hotel:detail' related.slug%}"></a>
			    	    	<div class="img-wrapper">
			    	    		<img src="{{ related.img.url }}"  alt="">
			    	    	</div>
			    	    	<p>{{ related.title }}</p>
			    	    </li>
                    {% endfor %}
			    </ul>
            {% endif %}
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal-body" id="screen">
	<div id="modal">
	 <button></button>
	    <h3>Горнолыжная база Каракол</h3>
	    <p>Дорогие Друзья! Для того чтобы Ваша заявка была оформлена быстро и точно, большая просьба заполнить форму бронирования с верным указанием Ваших данных электронной почты и номеров телефона. Благодарим Вас за выбор нашего туристического агентства!</p>
        <form action="" method='POST'>{% csrf_token %}
	    <input type="text" class="texts" name ='name' placeholder="Фамилия. Имя. Отчество.*"/>
	    <input type="text" class="texts" name="email" placeholder="e-mail adress*"/>
	    <input type="text" class="texts" name="phone" placeholder="Контактный телефон*"/>
	    <input type="text" class="texts" name="deal" placeholder="Количество гостей*"/>
	    <span class="datePicker">Дата с:</span><input id="datepicker" name="from"><span class="Picker">По:</span><input  id="datepicker1" name="to">
	    <span class="select">Выбор комнаты:</span>
	    <select name="room">
            {% for tab in tabs %}
                {% for hostel in tab.hostel.all %}
                    <option name="{{ hostel.title }}">{{ hostel.title }}</option>
                {% endfor %}
            {% endfor %}
{#		   <option>2-х этажный коттедж</option>#}
{#		   <option>1-х этажный коттедж</option>#}
{#		   <option>3-х этажный коттедж</option>#}
{#		   <option>4-х этажный коттедж</option>#}
{#		   <option>5-х этажный коттедж</option>#}
		</select>
	    <textarea name="info" placeholder="Дополнительная информация:" rows="4" ></textarea>
	    <a type="submit" class="popup1" id="submit" href="">Забронировать</a>
            </form>
	</div><!-- end modal -->

</div><!--end madal-body  -->

{#    <form>#}
{#                        {% csrf_token %}#}
{#                        <input type="text" name = 'name'><br/>#}
{#                        <input type="email" name="email"><br/>#}
{#                        <input type="text" name="phone" id=""><br/>#}
{#                        <input type="number" name="deal"><br/>#}
{#                        <input type="number" name="from">#}
{#                        <input type="number" name="to"><br/>#}
{#                        <select name="room">#}
{#                            {% for tab in tabs %}#}
{#                                {% for hostel in tab.hostel.all %}#}
{#                                    <option name="{{ hostel.title }}">{{ hostel.title }}</option>#}
{#                                {% endfor %}#}
{#                            {% endfor %}#}
{#                        </select><br/>#}
{#                        <textarea name="info" id="" cols="30" rows="10"></textarea>#}
{#    </form>#}


    <!-- Скрипты подключай не в хедере а в самом внизу body Мура ("Иса") -->
{#<script>#}
{#    $(function(){#}
{#        $('#submit').click(function(e){#}
{#            e.preventDefault();#}
{#            $.ajax({#}
{#                data: $('form').serialize(),#}
{#                url: '/order/save/',#}
{#                method: 'post',#}
{#                success: function(res){#}
{#                    alert(res)#}
{#                }#}
{#            })#}
{#        })#}
{#    });#}
{##}
{##}
{#</script>#}




{% endblock %}