{% extends 'base_en.html' %}
{% load staticfiles %}
{% block content %}
    {% if hotel.rest == 'w' %}
    <div class="winter">
	    <div class="container">
	    	<h2>WINTER REST</h2>
	    </div>
    </div>
    {% else %}
    <div class="summer">
	    <div class="container">
	    	<h2>SUMMER REST</h2>
	    </div>
    </div>
    {% endif %}

<div class="price winter-page">
	<div class="container">
		<div class="winter-page-container">
			<div class="price-content winter-content">
				<div class="titlebar">
					<h3>General Information</h3>
				</div>
				<div class="bases-bases-2">
					<h2>{{ hotel.title_english }}</h2>
                    {{ hotel.about_en|safe }}
                    {% if images %}
					    <ul>
                            {% for image in images %}
					    	    <li>
					    	    	<div class="img-wrapper">
                                        <a href="{{ image.image.url }}" data-lightbox="roadtrip">
                                            <img src="{{ image.image.url }}"  alt="">
                                        </a>
					    	    	</div>
					    	    </li>
                            {% endfor %}
					    </ul>
                    {% endif %}
				</div>
			</div>
            <div class="price-content winter-content">
				<div class="titlebar">
					<h3>Living</h3>
				</div>
					<div class="bases-bases-2">
						<h2>Accomodation in {{ hotel.title_english }}</h2>
						<p>Select your interested time. Prices will open below.</p>
                        {% if tabs %}
                            {% for tab in tabs %}
						        <div class="tab-block">
						        	<a href="#" class="clickme">{{ tab.title_en }}</a>
                                    {% if tab.hostel %}
						        	    <div class="box">
						        	    	<h3>Hotels</h3>
						        	    	<table>
						        	    		<tr><th>Service name</th><th>Price</th><th>Note</th></tr>
                                                {% for hull in hulls %}
                                                    {% if hull.count %}
                                                        <td>{{ hull.hull_en_title }}</td>
                                                    {% endif %}
                                                    {% for hostel in tab.hostel.all %}
                                                        {% if hostel.hull.id == hull.id %}
                                                            <tr><td>{{ hostel.title_en }}</td><td>{{ hostel.cost_en }}</td><td>{{ hostel.note_en }}</td></tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
						        	    	</table>
						        	    </div>
                                    {% endif %}
						        </div>
                            {% endfor %}
                        {% endif %}

				</div>
			</div>
            <div class="price-content winter-content">
				<div class="bases-bases-2">
                    <a class="red" id="trigger-modal" href="#"><p>Make reservation</p></a>
					 <a class="blue" href="#"><p>Prices for additional services</p></a>
					 </div>
			</div>

			<div class="price-content winter-content">
				<div class="titlebar">
					<h3>Location</h3>
				</div>
				<div class="bases-bases-2">
					 <div id="googleMap" style="width:760px;height:480px;"></div>

					 </div>
			</div>

		</div>
		<div class="sidebar">
            {% if hotel.related %}
			    <h3>Neighbor hotels</h3>
			    <ul>
                    {% for related in hotel.related.all %}
			    	    <li>
                            <a href="/en{%  url 'hotel:detail' related.slug%}"></a>
			    	    	<div class="img-wrapper">
			    	    		<img src="{{ related.img.url }}"  alt="">
			    	    	</div>
			    	    	<p>{{ related.title_english }}</p>
			    	    </li>
                    {% endfor %}
			    </ul>
            {% endif %}
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal-body" id="screen">
	<div id="modal">
	 <button></button>
	    <h3>{{ hotel.title_english }}</h3>
	    <p>Dear frends! To avoid any problem with reservation, please fill this form correctly.</p>
        <form action="" method='POST'>{% csrf_token %}
	    <input type="text" class="texts" name ='name' placeholder="Name*"/>
	    <input type="text" class="texts" name="email" placeholder="Email*"/>
	    <input type="text" class="texts" name="phone" placeholder="Phone number*"/>
	    <input type="text" class="texts" name="deal" placeholder="How many guests*"/>
	    <span class="datePicker">From:</span><input id="datepicker" name="from"><span class="Picker">To:</span><input  id="datepicker1" name="to">
	    <span class="select">Choose room:</span>
	    <select name="room">
            {% for tab in tabs %}
                {% for hostel in tab.hostel.all %}
                    <option name="{{ hostel.title_en }}">{{ hostel.title_en }}</option>
                {% endfor %}
            {% endfor %}
{#		   <option>2-х этажный коттедж</option>#}
{#		   <option>1-х этажный коттедж</option>#}
{#		   <option>3-х этажный коттедж</option>#}
{#		   <option>4-х этажный коттедж</option>#}
{#		   <option>5-х этажный коттедж</option>#}
		</select>
	    <textarea name="info" placeholder="Edditional information:" rows="4" ></textarea>
	    <a type="submit" class="popup1" id="submit" href="">Make a reservation</a>
            </form>
	</div><!-- end modal -->

</div><!--end madal-body  -->

{#    <form>#}
{#                        {% csrf_token %}#}
{#                        <input type="text" name = 'name'><br/>#}
{#                        <input type="email" name="email"><br/>#}
{#                        <input type="text" name="phone" id=""><br/>#}
{#                        <input type="number" name="deal"><br/>#}
{#                        <input type="number" name="from">#}
{#                        <input type="number" name="to"><br/>#}
{#                        <select name="room">#}
{#                            {% for tab in tabs %}#}
{#                                {% for hostel in tab.hostel.all %}#}
{#                                    <option name="{{ hostel.title }}">{{ hostel.title }}</option>#}
{#                                {% endfor %}#}
{#                            {% endfor %}#}
{#                        </select><br/>#}
{#                        <textarea name="info" id="" cols="30" rows="10"></textarea>#}
{#    </form>#}


    <!-- Скрипты подключай не в хедере а в самом внизу body Мура ("Иса") -->
{#<script>#}
{#    $(function(){#}
{#        $('#submit').click(function(e){#}
{#            e.preventDefault();#}
{#            $.ajax({#}
{#                data: $('form').serialize(),#}
{#                url: '/order/save/',#}
{#                method: 'post',#}
{#                success: function(res){#}
{#                    alert(res)#}
{#                }#}
{#            })#}
{#        })#}
{#    });#}
{##}
{##}
{#</script>#}




{% endblock %}