@font-face {
    font-family: "fontawesome";
    src: url("../fonts/fontawesome.eot");
    src: url("../fonts/fontawesome.eot?#iefix")format("embedded-opentype"),
    url("../fonts/fontawesome.woff") format("woff"),
    url("../fonts/fontawesome.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}