/*effect*/
a{
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/*---------------------шапка----------------------------*/
body{
	margin: 0;
	background:  url(../img/jpg/bg.png) top center no-repeat;
	font-family: "MuseoSansRegular";
}
.container{
	width: 1280px;
	margin: 0 auto;
}
.header {
	background: #3cb595;
	height: 54px;overflow: hidden;
}
.header .container{ 
	overflow: hidden;}
/*---------------------меню----------------------------*/
ul.navbar{
	font-family: "MuseoSansBlack";
	display: block;
	margin: 0;
    padding-left: 0;
    float: left;
}
ul.navbar li{
	list-style: none;
	display: inline-block;
	text-align: center;
	float: left;
}
ul.navbar li:first-child{
	border-left: 1px solid #fff;
}
ul.navbar li a{
	border-right: 1px solid #fff;
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 54px;
    color: #fff;
    text-transform: uppercase;
    padding: 0 30px;
}
ul.navbar li:last-child a {
	border-right: 0;
	padding-right: 35px;
    padding-left: 35px;
}
ul.navbar li a:hover{
    color: #fff;
    background: #eed62f;
}
/*---------------------Соц меню----------------------------*/
ul.social {
	display: inline-block;
	padding-left: 0;
	line-height: 54px;
	margin: 0;
	float: left;
	overflow: hidden;
	list-style: none;
}
ul.social li {
	float: left;
	border-left: 1px solid #fff;
	text-align: center;
}
ul.social li a img.hover-img{
	display: none;
}
ul.social li a:hover>img.sss  {
	display: none;
}
ul.social li a:hover>img.hover-img {
	display: inline-block;
}
ul.social li a{
    padding: 0 18px 0 18px;
	display: block;
	text-decoration: none;
	color: #fff;
}
ul.social li:last-child{
	border-right: 1px solid #fff;
}
ul.social li a:hover{
    color: #3cb595;
    background: #fff;
}
/*---------------------Баннер----------------------------*/
.banner{
	margin-bottom: 27px;
}
.logo{
	display: inline-block;
}
.logo img{
	margin: 18px 15px 21px 18px;
}
.tele{
	display: block;
	float: right;
	width: 29%;
}
.tele p{
	font-size: 70px;
    margin: 0;
    margin-top: 20px;
    color: #9e9e9e;
    font-family: "MuseoSansLight";
}
.tele span{
	float: left;
    margin-top: 31px;
    color: #9e9e9e;
    font-size: 16px;
    margin-right: 10px;
    font-family: "MuseoSansBold";
}
.tele a{
	color: #3cb595;
	text-decoration: none;
	float: right;
	margin-top: 21px;
	margin-right: 13px;
	font-family: "MuseoSansblack";
}
/*---------------------Слайдер----------------------------*/
.slider {
	margin-top: 25px;
}
#slides{
	display: block;
	overflow: hidden;
	height: 545px;
}
.slider .container {
	margin: 0 auto;
	position: relative;
}
#slides img {

	height: auto;
}

li.slidesjs-pagination-item {
    font-size: 0;
}
.slidesjs-navigation {
	position: absolute;
	bottom: 20px;
	background: red;
	z-index: 11;
}
.slidesjs-navigation.slidesjs-previous {
	left: 45%;
	background:  url(../img/png/prev.png) no-repeat;
	width: 65px;
	height: 65px;
	font-size: 0;
}
.slidesjs-navigation.slidesjs-previous:hover{
	opacity: 0.5;
}
.slidesjs-navigation.slidesjs-next {
	left: 55%;
	background:  url(../img/png/next.png) no-repeat;
	text-decoration: none;
	width: 65px;
	height: 65px;
	font-size: 0;
}
.slidesjs-navigation.slidesjs-next:hover{
	opacity: 0.5;
}
.slidesjs-pagination {
	position: absolute;
	bottom: 20px;
	left: 50%;
	z-index: 11;
}
.slider .container:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 375px;
	height: 545px;
	background: url(../img/jpg/slider-pattern.png) no-repeat;
	z-index: 11;
}
/*---------------------Круглые фотки----------------------------*/
.agents{
	overflow: hidden;
}
.agents h1{
	text-align: center;
	font-size: 65px;
	font-family: "MuseoSansLight";
    font-weight: 100;
	color: #3cb595;
    margin: 66px 0 46px 0;
}
.agents h2{
	margin-bottom: 0;
	font-family: "MuseoSansBold";
    color: #606060;
    width: 236px;
    overflow: hidden;
    word-wrap: break-word;
    min-height: 90px;
    height: 100%;
}

.agents ul{
	text-align: center;
	padding-left: 0;
	overflow: hidden;
	margin: 0;
}
.agents ul li{
	float: left;
    margin: 0px 5px;
    background: #ebebeb;
    padding: 34px 90px 60px 90px;
    list-style: none;
}
.agents .img-wrapper {
	width: 225px;
	height: 225px;
	border: 2px solid #3cb595;
	position: relative;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.agents .img-wrapper:before {
	background: transparent;
	border: 5px solid #fff;
	position: absolute;top: 0;left: 0;
	bottom: 0;
	right: 0;
	border-radius: 50%;
	z-index: 1;
	content: '';
}
.agents .img-wrapper img {
	display: block;
	margin: auto;
	width: 100%;
	height: auto;
	position: absolute;
	top: -9999px;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
}
/*---------------------Контент с фото----------------------------*/
.about{
	margin-top: 65px;
}
.about .text{
	display: block;
	width: 500px;
	float: left;
}
.about .text p{
	font-size: 18px;
	font-family: "PTSansRegular";
}
.about .text h3{
	font-size: 25px;
	color: #2b53a0;
	font-family: "PTSansBold";
}
.about .imgwrapper{
	float: right;
	display: block;
}
.footer{
	background: #eed62f;
	margin-top: 43px;
}
.footer .adress{
	display: inline-block;
	width: 245px;
}
.footer .adress h5{
	color: #2b53a0;
    margin: 54px 0 25px 37px;
    font-size: 16px;
    font-family: "PTSansbold";
}
.footer .adress ul{
	display: inline-table;
	position: relative;
	padding-left: 37px;
}
.footer .adress ul li{
	color: #2b53a0;
	list-style: none;
	font-family: "PTSansRegular";
    font-size: 16px;
}
.footer .adress ul li a{
	text-decoration: none;
	color: #2b53a0;
}
.footer .adress ul:before{
	content:'';
	background:  url(../img/png/gps.png) 0 0 no-repeat;
	display: block;
	position: absolute;
	top: 3px;
	bottom: 0;
	right: 0;
	left: 0;
	width: 24px;
	height: 24px;
}
.footer .phone{
	display: inline-block;
	margin-left: 58px;
	margin-bottom: 56px;
}
.footer .phone ul{
	display: inline-table;
	margin: 0;
	position: relative;
	padding-left: 0;
}
.footer .phone ul:before{
	content:'';
	background:  url(../img/png/telep.png) 0 0 no-repeat;
	display: block;
	position: absolute;
	top: 7px;
	bottom: 0;
	right: 0;
	left: -36px;
	width: 24px;
	height: 24px;
}
.footer .phone ul li{
	color: #2b53a0;
	list-style: none;
	position: relative;
	padding-left: 0px;
	font-family: "PTSansRegular";
}
.footer .phone ul li a{
	text-decoration: none;
	color: #2b53a0;
}
.footer .email{
	display: inline-block;
	margin-left: 153px;
}
.footer .email ul{
	display: inline-table;
	position: relative;
	padding-left: 0;
}
.footer .email ul:before{
	content:'';
	background:  url(../img/png/sms.png) 0 0 no-repeat;
	display: block;
	position: absolute;
	top: 10px;
	bottom: 0;
	right: 0;
	left: -12px;
	width: 23px;
	height: 16px;
}
.footer .email ul li{
	color: #2b53a0;
	list-style: none;
	padding-left: 20px;
	position: relative;
	font-family: "PTSansRegular";
}
.footer .email ul li a{
	text-decoration: none;
	color: #2b53a0;
}
.slogo {
    padding-bottom: 14px;
    border-top: 1px solid;
    padding-top: 18px;
}
.slogo p {
    display: inline-block;
    margin: 0;
    color: #363636;
    font-family: "PTSansRegular";
}
.slogo span {
    float: right;
    color: #363636;
    font-family: "PTSansRegular";
}
.slogo span a{
	color: #363636;
	text-decoration: none;
}
/*--------------Вторая страница стилей (О КОМПАНИИ)--------- */
.aboutus{
	background: #2A519E  url(../img/banner2page.jpg) center no-repeat;
}
.aboutus h2{
	font-size: 70px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: "MuseoSansBold";
    margin: 0;
    line-height: 164px;
}
.inform{
	overflow: hidden;
	background: #fff;
	padding-top: 62px;
}
.information{
	width: 57%;

	float: left;
}
.information h4{
	font-size: 25px;
	color: #2b53a0;
	font-family: "PTSansRegular";
	margin: 0;
	padding-bottom: 18px;
}
.information h5{
	font-size: 25px;
	color: #2b53a0;
	font-family: "PTSansRegular";
	margin: 0;
}
.information p{
	font-size: 18px;
	font-family: "PTSansRegular";
	margin: 30px 0;
}
.imageinfo{
	width: 40%;
	float: right;
}
/*------------------------Третья страница стилей (транспорт)--------------- */
.transp{
	background: #ADCDDC  url(../img/banner3page.jpg) center 0 no-repeat;
}
.transp h2{
	text-align: center;
	font-size: 80px;
	color: #fff;
	margin: 0;
	line-height: 164px;
	font-family: "MuseoSansblack";
	text-transform: uppercase;
}
.carinfo{
	overflow: hidden;
	background: #fff;
    padding-top: 57px;
    padding-bottom: 77px;
}
.carinfo .informs{
	width: 40%;
	float: left;
}
.carinfo .informs h4{
	color: #2b53a0;
	font-family: "PTSansRegular";
	font-size: 25px;
	margin-bottom: 47px;
    margin-top: 10px;
}
.carinfo .informs p{
	font-family: "PTSansRegular";
	font-size: 18px;
	margin: 0;
}
.carinfo .informs a{
	line-height: 52px;
	display: inline-block;
	text-align: center;
	background: #2b53a0;
	color: #f0f2f4;
	font-size: 20px;
	text-decoration: none;
	font-family: "PTSansRegular";
	width: 240px;
	margin-top: 77px;
}
.carinfo .imageinfo{
	width: 60%;
	float: right;
}
/*------------------------четвертая страница стилей (winter)--------------- */
.winter{
	background: #2C539E  url(../img/banner4pagewinter.jpg) center no-repeat;
}
.winter h2{
	text-align: center;
	font-size: 80px;
	color: #fff;
	margin: 0;
	line-height: 164px;
	font-family: "MuseoSansblack";
	text-transform: uppercase;
}
/*Горнолыжные базы Кыргызстана*/
.price{
    overflow: hidden;
    background: #fff;
    padding-top: 78px;
}
.price-content:first-child {
	overflow: hidden;
	border-top: none;
}
.price-content {
	overflow: hidden;
	border-top: 1px solid #d4d9de;
	padding-top: 44px;
}
.titlebar {
    width: 20%;
    float: left;
}
.titlebar h3{
	color: #e2440c;
	font-size: 20px;
	font-family: "MuseoSansBold";
	margin-top: 0;
}
.titlebar p{
	font-size: 16px;
	font-family: "PTSansRegular";
}
.bases .img-wrapper {
	display: inline-block;
    width: 240px;
    height: 184px;
}
.bases .img-wrapper img {
	display: block;
	margin: auto;
	width: 100%;
	height: 100%;
	top: -9999px;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
}
.bases {
    width: 80%;
    float: right;
}
.bases ul{
	text-align: center;
	padding-left: 23px;
	margin: 0;
}
.bases ul li {
	display: inline-block;
	margin: 0 3px;
    background: #e4e9ee;
    margin-top: 6px;
    margin-bottom: 52px;
    position: relative;
    width: 240px;
}
.bases ul li img{
	display: block;
}
.bases ul li a:hover:after {
	content: "Подробнее";
	position: absolute;
	top:0;
	left: 0;
	width: 240px;
	height: auto;
	background: rgba(43, 122, 191, 0.7);
	color:#fff;
	padding: 83px 0px 82px 0px;
}
.bases ul li a{
	text-decoration: none;
}
.bases ul li a p{
	border-bottom: 1px solid #d4d9de;
	font-family: "PTSansRegular";
	color: #2b53a0;
	font-size: 20px;
	text-align: left;
	padding-left: 11px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0;
	padding-right: 15px;
    overflow: hidden;
    min-height: 78px;
    word-wrap: break-word;
    height: 100%;
}
.bases ul li h5{
    float: right;
    color: #3cb595;
    padding: 13px 21px 10px 0;
    margin: 0;
    font-size: 27px;
    font-family: "MuseoSansLight";
    font-weight: 100;
}
.bases ul li h5 span{
	font-size: 49px;
	color: #3cb595;
	font-family: "MuseoSansLight";
	font-weight: 100;
}


/*----------пятая страница стилей (summer)---------- */
.summer{
	background: #EED530  url(../img/banner5pagesummer.jpg) center no-repeat;
}
.summer h2{
	text-align: center;
	font-size: 80px;
	color: #fff;
	margin: 0;
	line-height: 164px;
	font-family: "MuseoSansblack";
	text-transform: uppercase;
}
/*----------шестая страница стилей (winterdetail)---------- */

.winter-page .container {
	overflow: hidden;
}
.winter-page-container {
	float: left;width: 80%;
}

.sidebar ul{
	padding-left: 0;
}
.sidebar ul li{
	display: inline-block;
	background: #e4e9ee;
    margin-bottom: 20px;
    position: relative;
}
.sidebar a {
    width: 100%;
    height: 100%;
    position: absolute;
}
.sidebar ul li p{
	padding-left: 10px;
	color: #2b53a0;
	width: 220px;
    padding-right: 10px;
    word-wrap: break-word;
	font-family: "PTSansRegular";
}
.sidebar .img-wrapper {
	width: 240px;
    height: 184px;
}
.sidebar .img-wrapper img {
	display: block;
	margin: auto;
	width: 100%;
	height: 100%;
	top: -9999px;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
}
.sidebar {
	width: 240px;
	float: right;
	margin-top: 44px;
}

.sidebar h3{
	margin: 0;
	color: #e2440c;
	font-family: "MuseoSansBold";
}
.titlebar{
	width: 20%;
    float: left;
}
.winter-content{
	border-top: 0;
}
.bases-bases-2 {
    width: 786px;
    float: right;
}
.bases-bases-2 h2{
	margin: 0;
	font-family: "PTSansRegular";
	font-size: 25px;
}
.bases-bases-2 p{
	font-family: "PTSansRegular";
	font-size: 16px;
}
.bases-bases-2 ul{
	padding-left: 0;
	margin: 0;
}

.bases-bases-2 ul li{
	display: inline-block;
}
.bases-bases-2 .img-wrapper {
	display: inline-block;
    float: left;
    margin-right: 17px;
    width: 110px;
    height: 110px;
}
.bases-bases-2 .img-wrapper img {
	display: block;
	margin: auto;
	width: 100%;
	height: auto;
	top: -9999px;
	bottom: -9999px;
	left: -9999px;
	right: -9999px;
}

.bases-bases-2 ul li:last-child{
	margin-right: 0;
}

a.blue p {
    display: inline-block;
    line-height: 47px;
    background: #2b53a0;
    color: #fff;
    padding: 0 20px;
    margin-left: 20px;
}

a.red p {
    display: inline-block;
    line-height: 47px;
    background: #fc5549;
    color: #fff;
    padding: 0 20px;
}

.clickme {
    display: block;
    text-decoration: none;
    background: #e4e9ee;
    color: #2b53a0;
    width: 740px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}
.clickme:hover {
    text-decoration: underline;
}
.clickme:after {
	content: '';
	font-size: 20px;
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	right: 10px;
	color: #2b53a0;
	background: url(../img/png/dropicon.png) center no-repeat;
	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.clickme.up:after {
	-ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);}
.box {
    padding: 5px 10px;
    width: 760px;
    padding: 10px;
    color: #2b53a0;
    display: none;
}
.box table {
	width: 100%;
}
.box h3 {
	text-align: center;
	font-weight: 400;
	font-size: 22px;
	color: #000;
}
.box table th {text-align: left;
	font-size: 16px;
	font-weight: 700;
	color: #2b53a0;
	font-family: 'PT Sans', sans-serif;
	padding-right: 128px;
}
.box table td:nth-child(1) {
	width: 240px;
	color: #000;
}
.box table td:nth-child(2) {
	width: 225px;
}
.box table td:nth-child(3) {
	width: 295px;
	color: #6c6c6c;
}
.box table td span {
	font-weight: 700;
	font-size: 16px;
	color: #000;
	font-family: 'PT Sans', sans-serif;
}
.box table tr {
	border-bottom: 1px solid #d7d7d7;
	display: block;
}

#map {
	height: 300px;
	width: 97%;
}

#screen, #modal, #screen2, #modal2{
    display: none;
    position: fixed;

}

#screen, #screen2 {
	width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0,0,0,0.7);
    z-index: 99;
}

#modal, #modal2 {
    width: 505px;
    top: 10%;
    left: 36%;
    background: white;
    z-index: 9999;
}
#modal h3,#modal2 h3{
    font-size: 24px;
    color: #3cb595;
    padding: 16px 0 10px 41px;
    margin: 0;
    font-family: "PTSansBold";
}
#modal p{
	padding-left: 41px;
    padding-right: 41px;
    margin: 0;
    font-size: 16px;
    color: #6c6c6c;
    font-family: "PTSansRegular";
}
input.texts {
    display: block;
    margin: 10px 0 10px 40px;
    line-height: 24px;
    padding-left: 19px;
    width: 414px;
    font-size: 15px;
	font-family: "PTSansBold";
}
input#datepicker, input#datepicker1 {
    background: url(../img/png/calendar.png) right 0 no-repeat;
    background-size: 23%;
    line-height: 21px;
    width: 92px;
    overflow: hidden;
}
span.datePicker{
    padding-left: 42px;
    padding-right: 27px;
    color: #cccccc;
    font-size: 20px;
    font-family: "PTSansBold";
}
span.Picker{
	padding-left: 54px;
    font-size: 20px;
    padding-right: 9px;
	color: #cccccc;
	font-family: "PTSansBold";
}
select{
    padding: 5px 5px;
    width: 243px;
    margin-left: 0px;
    margin-top: 20px;
    font-size: 16px;
    color: #3cb595;
}
select:hover {
	cursor: pointer;
}
span.select{
    padding-left: 42px;
    font-size: 20px;
    color: #ccc;
    font-family: "PTSansBold";
}
textarea {
	margin: 13px auto 0px auto;
	display: block;
    width: 390px;
    padding: 5px 20px;
    font-size: 15px;
    resize: none;
}
textarea::-webkit-input-placeholder {font-family: "PTSansBold";}
textarea::-moz-placeholder          {font-family: "PTSansBold";}/* Firefox 19+ */
textarea:-moz-placeholder           {font-family: "PTSansBold";}/* Firefox 18- */
textarea:-ms-input-placeholder      {font-family: "PTSansBold";}
a.popup, a.popup1{
    padding: 10px 0px;
    display: block;
    background: #fc5549;
    color: #fff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    width: 200px;
    float: right;
    margin: 20px 27px;
}
button{
	float: right;
	margin: 20px 20px;
	border-radius: 10px;
    background: #fff;
    border: none;
    width: 32px;
    height: 32px;
    background: url(../img/close-icon.png) center no-repeat;
    background-size: 20px 20px;
}
button:hover {
	cursor: pointer;
}

input[type="text"]::-webkit-input-placeholder {color:#ccc;}
input[type="text"]::-moz-placeholder          {color:#ccc;}/* Firefox 19+ */
input[type="text"]:-moz-placeholder           {color:#ccc;}/* Firefox 18- */
input[type="text"]:-ms-input-placeholder      {color:#ccc;}





input[type="text"]{
	display: block;
    margin: 10px 0 10px 40px;
    line-height: 24px;
    padding-left: 19px;
    width: 414px;
    font-size: 15px;
	font-family: "PTSansBold";
}