{% extends 'base_en.html' %}

{% block content %}
    <div class="aboutus">
        <div class="container">
            <h2>{{ about.title }}</h2>
        </div>
    </div>

    <div class="inform">
        <div class="container">
          <div class="information">
            {{ about.text|safe }}
          </div>
              <div class="imageinfo">
                <img src="{{ about.image.url }}" alt="">
              </div>
        </div>
    </div>
{% endblock %}