{% extends 'base.html' %}

{% block content %}
    <div class="transp">
	    <div class="container">
	    	<h2>{{ transfer.title }}</h2>
	    </div>
    </div>

    <div class="carinfo">
        <div class="container">
          <div class="informs">
            <h4>{{ transfer.title }}</h4>
            <p>{{ transfer.text|safe }}</p>
            <a href="{{ transfer.price.url }}">Посмотреть прайс лист</a>

          </div>
              <div class="imageinfo">
                <img src="{{ transfer.image.url }}" alt="">
              </div>
        </div>
    </div>
{% endblock %}