{% load staticfiles %}
<div class="footer">
	<div class="container">
		<div class="adress">
			<h5>Адрес</h5>
			<ul>
                {% for item in addresses %}
				    <li>{{ item.address }}</li>
                {% endfor %}
			</ul>
		</div>
		<div class="phone">
			<ul>
                {% for item in phones %}
				    <li>{{ item.phone }}</li>
                {% endfor %}
			</ul>
		</div>
		<div class="email">
			<ul>
                {% for item in mails %}
				    <li><a href="">{{ item.mail }}</a></li>
                {% endfor %}
			</ul>
		</div>
		<div class="slogo">
			<p>© 2016 - BaiTravel</p>
			<span> Designed by <a href="http://googstudio.com" type="_blank"><b>googstudio.com</b></a></span>
		</div>
	</div>
</div>
  <div class="modal-body" id="screen2">
        	<div id="modal2">
        	 	<button></button>
        	    <form action="#" id="contactForm" method="post">{% csrf_token %}
        	      <span></span>
        	      <h3>Request for a call</h3>
        	      <input name="name1" type="text" placeholder="Your name" />
        	      <input name="phone1" type="text" placeholder="Your phone"/>
        		  <a class="popup" type="submit" id="contact_submit" href="">Send</a>
        		</form>
        	</div><!-- end modal -->
        </div><!--end madal-body  -->


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/lightbox.js' %}"></script>
<script src="{% static 'js/jquery.slides.min.js' %}"></script>
<script src="{% static 'js/myjs.js' %}"></script>
<script
src="http://maps.googleapis.com/maps/api/js">
</script>


{#<script>#}
{#    function initialize(){#}
{#        var mapOptions = {#}
{#            center: new google.maps.LatLng({{ hotel.location }}),#}
{#            zoom: 8,#}
{#            mapTypeId: google.maps.MapTypeId.ROADMAP,#}
{##}
{#        };#}
{##}
{#        var marker = new google.maps.Marker({#}
{#            position: myLatlng,#}
{#            title: "{{ hotel.title }}"#}
{#        });#}
{##}
{#        var map = new google.maps.Map(document.getElementById("map"), mapOptions);#}
{##}
{##}
{#    }#}
{#    marker.setMap(map);#}
{#    google.maps.event.addDomListener(window, 'load', initialize);#}
{#    map.addMarker({#}
{#        lat: 42.504503,#}
{#        lng: 78.266602,#}
{#        title: 'Lima',#}
{#        click: function (e) {#}
{#            alert('You clicked in this marker');#}
{#        }#}
{#    });#}
{#</script>#}

<script>
    $(function(){
        $('#contact_submit').click(function(e){
            e.preventDefault();
            $.ajax({
                data: $('form').serialize(),
                url: '/contact/create/',
                method: 'post',
                success: function(res){
                    alert(res)
                }
            })
        })
    });

     $(function(){
        $('#submit').click(function(e){
            e.preventDefault();
            $.ajax({
                data: $('form').serialize(),
                url: '/order/save/',
                method: 'post',
                success: function(res){
                    alert(res)
                }
            })
        })
    });


</script>

<script>
var myCenter=new google.maps.LatLng({{ hotel.latitude }},{{ hotel.longitude }});

function initialize()
{
var mapProp = {
  center:myCenter,
  zoom:14,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };

var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

var marker=new google.maps.Marker({
  position:myCenter,
  });

marker.setMap(map);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>


{#<script>#}
{#    function initialize() {#}
{#        var myLatlng = new google.maps.LatLng({{ hotel.location }});#}
{#        var mapOptions = {#}
{#            zoom: 4,#}
{#            center: myLatlng,#}
{#            mapTypeId: google.maps.MapTypeId.ROADMAP#}
{#        }#}
{#        var map = new google.maps.Map(document.getElementById("map"), mapOptions);#}
{##}
{##}
{##}
{#// To add the marker to the map, call setMap();#}
{##}
{#    }#}
{#</script>#}

{#<script>#}
{#map.addMarker({#}
{#  lat: -12.043333,#}
{#  lng: -77.028333,#}
{#  title: 'Lima',#}
{#  click: function(e) {#}
{#    alert('You clicked in this marker');#}
{#  }#}
{#{);#}
{#</script>#}