{% load staticfiles %}
<div class="header">
	<div class="container">
		<ul class="navbar">
            {% for item in navbars %}
			<li><a href="/en{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}

		</ul>
		<ul class="social">
            {% for social in socials %}
                <li><a href="{{ social.url }}" target="_blank"><img class="sss" src="{{ social.icon.url }}" alt=""> <img class="hover-img" src="{{ social.icon_hover.url }}" alt=""></a></li>
            {% endfor %}
			<li><a href="/">RU</a></li>
			<li><a href="/en/">EN</a></li>
		</ul>
	</div>
</div>
<div class="banner">
	<div class="container">
		<div class="logo">
			<a href="/en/"><img src="{% static 'img/jpg/logo.png' %}" height="109" width="172" alt=""></a>
		</div>
		<div class="tele">
			<span>+996 555<br>+996 775<br>+996 779</span>
			<p>98 99 44</p>
			<a href="#" id="trigger-modal2">REQUEST FOR A CALL</a>
		</div>
	</div>
</div>