<!DOCTYPE html>
<html lang="en">
<head>
    {% block metahead %}{% endblock %}
</head>
<body>
    <header>
        {% block header %}{% endblock %}
    </header>
     {% block slider %}{% endblock %}
    {% block content %}{% endblock %}
     {% block info %}{% endblock %}
    {% block footer %}{% endblock %}
</body>
</html>