{% extends 'base_en.html' %}
{% load staticfiles %}
{% block slider %}
    {% if sliders %}
        <div class="slider">
	        <div class="container">

                <div id="slides">
                    {% for slider in sliders %}
                        <img src="{{ slider.image.url }}">
                    {% endfor %}
	        	</div>
	        </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if category_list %}
        <div class="agents">
	        <div class="container">
	        	<h1>The main directions of agency</h1>
	        	<ul>
                    {% for category in category_list %}
                        <li>
	        			    <div class="img-wrapper">
	        			    	<img src="{{ category.image.url }}" alt="">
	        			    </div>
	        				<h2>{{ category.title }}</h2>
	        		    </li>
                    {% endfor %}
	        	</ul>
	        </div>
        </div>

    {% endif %}
    <div class="about">
	    <div class="container">
	     <div class="text">
	    	<h3>{{ main_text.title }}</h3>
	    	<p>{{ main_text.text|safe }}</p>
	    	</div>
	    	<div class="img-wrapper">
	    		<img src="{% static 'img/jpg/bg2.png' %}" alt="">
	    	</div>
	    </div>
    </div>
{% endblock %}