{% load staticfiles %}
    {% if lmeta %}
        {% for item in lmeta %}
    <meta name="title" content="{{ item.meta_title }}">
    <meta name="description" content="{{ item.meta_desc }}">
    <meta name="keywords" content="{{ item.meta_key }}" >
        {% endfor %}
    {% else %}
        {% for item in gmeta %}
    <meta name="title" content="{{ item.meta_title }}">
    <meta name="description" content="{{ item.meta_desc }}">
    <meta name="keywords" content="{{ item.meta_key }}" >
        {% endfor %}
        {% endif %}
{% if lmeta %}
{% for item in lmeta %}
<title>{{ item.meta_title }}</title>
{% endfor %}
{% else %}
    {% for item in gmeta %}
<title>{{ item.meta_title }}</title>
    {% endfor %}
{% endif %}
<link rel="stylesheet" href="{% static 'fonts/fonts.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
